scrapy
scrapy-playwright
trafilatura
playwright
tiktoken
qdrant-client
fastembed
sentence-transformers
python-dotenv
python-multipart
fastapi
uvicorn
pydantic
httpx
langchain
langchain-core
langchain-google-genai
langchain-groq
langchain-community
langchain-experimental
tavily-python
